fastapi==0.111.0
uvicorn[standard]==0.24.0
SQLAlchemy==2.0.20
alembic
psycopg2-binary==2.9.6
python-dotenv==1.0.0
pydantic==2.1.1
passlib[bcrypt]==1.7.4
phonenumbers==8.13.53
slowapi==0.1.5
python-multipart
streamlit
requests
pandas
apscheduler
pytest
plotly
pydantic-settings
asyncpg 
aiosqlite

